
@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS09-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS09-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaTermSS09-ExtendedHeavyItalic.TTF') format('truetype');
}
