
@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS09 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS09-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS09-ExtendedHeavyItalic.ttf') format('truetype');
}
